TELEGRAM_BOT_TOKEN=
SUPABASE_URL=
SUPABASE_ANON_KEY=
GEMINI_API_KEY=
GOOGLE_DRIVE_FOLDER_ID=





Project ID:  ysntqbakmqwuxljknwjg
Project URL: https://ysntqbakmqwuxljknwjg.supabase.co


	For Talk to Human Chat Box ( Supabase ရဲ့ anon public )
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzbnRxYmFrbXF3dXhsamtud2pnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMTU3MTMsImV4cCI6MjA5NTc5MTcxM30.kxV24OD6mZfjSgOmzq0loX6gEHpUM9Rx9RFQnWeHCZs

		For Talk to Human Chat Box ( Supabase ရဲ့ service_role )
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzbnRxYmFrbXF3dXhsamtud2pnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDIxNTcxMywiZXhwIjoyMDk1NzkxNzEzfQ.xO2Myapw_wxU6laXLgRYBc9npQDioCic2aHtW8svC1Y